<div class="container">
    <header>
        <img src="../../../assets/paper-clip.svg" alt="ClipPaper Logo" class="img-responsive img-rounded" style="width: 400px; align-items: center;">
        <h1>ClipPaper: Tu Solución de Confianza en Clips para Papel</h1>
    </header>

    <main>
        <section>
            <h2>Bienvenido a ClipPaper</h2>
            <p>Desde hace más de dos décadas, nos hemos dedicado a proporcionar clips para papel de la más alta calidad a empresas de renombre en todo el mundo. Nuestros productos son la elección preferida de gigantes como Amazon, Google, Tesla, Facebook, y muchos otros.</p>
        </section>

        <section>
            <h3>Nuestros Productos de Calidad Mundial</h3>
            <ul>
                <li>Clips para Papel Duraderos</li>
                <li>Variedad de Tamaños</li>
                <li>Diseños Personalizados</li>
            </ul>
        </section>
    </main>
</div>
