<!-- This is the main component of the application. -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a routerLink="/" class="navbar-brand">ClipPaper</a>
      <ul class="navbar-nav mx-auto">
          <li class="nav-item" routerLinkActive="active">
              <a routerLink="/services" class="nav-link">Servicios</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a routerLink="/contact-us" class="nav-link">Contáctanos</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a routerLink="/our-clients" class="nav-link">Nuestros Clientes</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a routerLink="/about-us" class="nav-link">Sobre Nosotros</a>
          </li>
      </ul>
  </div>
</nav>



<router-outlet class="container"></router-outlet>

<footer class="text-center text-lg-start bg-light text-mute">
  <p
    class="text-center text-mute p-3 m-0 bg-light border-top border-dark mt-5 mb-0 w-100"
  >ClipPaper &copy; 2023</p>
</footer>